[Unit]
Description=Mount ZRAM device
After=zram-setup.service
Before=cups.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount /dev/zram1 /var/zram/mount
ExecStart=/bin/mkdir -p /var/zram/mount/cups-cache
ExecStart=/bin/mkdir -p /var/zram/mount/cups-spool
ExecStart=/bin/mkdir -p /var/zram/mount/tmp
ExecStart=/bin/mkdir -p /var/zram/mount/log
ExecStart=/bin/chown -R root:lp /var/zram/mount/cups-cache
ExecStart=/bin/chown -R root:lp /var/zram/mount/cups-spool
ExecStop=/bin/umount /var/zram/mount

[Install]
WantedBy=multi-user.target
