[Unit]
Description=Setup ZRAM for swap and filesystem
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c '\
  swapoff /dev/zram0 && \
  modprobe -r zram && \
  modprobe zram num_devices=2 && \
  echo lz4 > /sys/block/zram0/comp_algorithm && \
  echo 200M > /sys/block/zram0/disksize && \
  echo lz4 > /sys/block/zram1/comp_algorithm && \
  echo 200M > /sys/block/zram1/disksize && \
  mkswap /dev/zram0 && \
  swapon /dev/zram0 -p 100 && \
  mkfs.ext4 /dev/zram1 && \
  mkdir -p /mnt/zram && \
  mount /dev/zram1 /mnt/zram && \
  chmod 1777 /mnt/zram && \
  mkdir -p /mnt/zram/cups/spool && \
  mkdir -p /mnt/zram/cups/cache && \
  mkdir -p /mnt/zram/cups/cache/tmp && \
  chown -R root:lp /mnt/zram/cups/ && \
  chmod -R 775 /mnt/zram/cups && \
  mount --bind /mnt/zram/cups/spool /var/spool/cups && \
  mount --bind /mnt/zram/cups/cache /var/cache/cups'


ExecStop=/bin/bash -c '\
  umount /mnt/zram && \
  swapoff /dev/zram'

[Install]
WantedBy=multi-user.target
~                          
